body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 10pt;
}

p.dialogue {
    border: 1px solid;
}

span.actor-name{
    font-weight: bold;
}

.context {
    opacity: 0.55;
}

.alternate.even {}
.alternate.odd {
    background-color: #d3e5ed;
}

.subtle {
  color: rgba(0, 0, 0, 0.5);
}
